profile=janestreet
break-colon=before
break-separators=after
dock-collection-brackets
break-collection-expressions=fit-or-vertical
field-space=tight
exp-grouping=preserve
sequence-blank-line=preserve-one
